@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800");
@import "./_variables.scss";
@import "./_mixins.scss";

html {
  --duration: 0.5s;
  --dark: #2c3e50;
  --white: #ffffff;
  --off-white: #ecf0f1;
  --accent: #e17b5f;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  // width: 100%;
  // height: 100%;
}
.takelessspace{
  top: 0;
  left: 0;
  // display: flex;
  // position: absolute;
  // flex-direction: column;
  // width: 100vw;
  background-color: #2c3e50;

}
// .app{
//   // display: flex;
//   // width: 1000px;
//   position: fixed;
// }
.app {
  width: 1000px;
  height: 100%;
  display: flex;
  // align-items: center;
  // justify-content: center;
  background: var(--off-white);
  flex-direction: row;
  span {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 0.5em;
  padding: 0.75em 30em 0.75em 1em;
  background: var(--dark);
  color: var(--white);
  box-shadow: 2px 6px 20px rgb(127 129 138 / 80%);
  &-items {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  &-item {
    padding: 0.5em 0.75em;
    margin-right: 0.25em;
    font-weight: 600;
    font-size: 1em;
    transition: color 0.06s linear;
    user-select: none;
    &:hover {
      cursor: pointer;
      color: var(--accent);
    }
    &--selected {
      color: var(--accent);
    }
  }
  &-dash {
    height: 4px;
    width: 40px;
    border-radius: 2px;
    background: var(--accent);
    position: absolute;
    bottom: 0;
    transition: transform var(--duration), width 0.1s ease-in;
  }
}
.takelessspace{
  background-color: black;
}